/*overide box overlay*/
/* .box .overlay, .overlay-wrapper .overlay {
    display:none;
} */

.toast {
	position: fixed;
	max-width: 50%;
	color: #fff;
	top:65px;
	left:50%;
	border-radius: 100px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:15px;
	padding-right:15px;
	z-index:1000000;
	box-shadow: 0px 0px 10px #666666;
	text-align: center;
	transform: translate(-50%);
	display: none;
}

.toast-info {
	background-color: #00a65a;
}

.toast-err {
	background-color: #ac2925;
}

/*overide modal*/
.modal-err {
	color: #fff;
    background-color: #d33724 !important;
}

/*overide modal*/
.modal-suc {
	color: #fff;
    background-color: #00a65a !important;
}

.modal-cfrm {
	color: #fff;
   	background-color: #f39c12 !important;
}

label {
    font-weight: normal; 
}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    border: 1px solid #d2d6de !important;
    border-radius: 0 !important;
    padding: 6px 12px;
    height: 34px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 28px;
    right: 3px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 0 !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #3c8dbc !important;
    color: white !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #d2d6de;
}

.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #3c8dbc !important;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #d2d6de;
    border-radius: 0 !important;
}

.select2-dropdown {
    border: 1px solid #d2d6de;
    border-radius: 0 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc;
    border-color: #367fa9;
    padding: 1px 10px;
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 5px;
    color: rgba(255,255,255,0.7);
}

.upper {
	text-transform: uppercase;
}

.cap {
	text-transform: capitalize;
}

.box.box-success .nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #00a65a;
}

.form-group-sm .form-control {
    border-radius: 0px;
}

.tbl-bold-footer tfoot {
	font-weight:bold;
}

.tbl-active-row tbody tr.actived {
	background-color:#78909C;
	color:#FFF;
}

.multiselect {
	text-align: left;
}

.multiselect .caret {
    float: right;
    margin-top: 8px;
}

.multiselect-container {
    width: 100%;
}

.dropdown-menu {
    border-radius: 0px;
}

ul.fancytree-container {
	border: 0 none !important;
    padding: 0 !important;
    height: 100% !important;
}

#tree {
	border: 1px solid #ccc;
}

#tree::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 0;
	background-color: #F5F5F5;
}

#tree::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

#tree::-webkit-scrollbar-thumb {
	border-radius: 0;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.modal-header {
	background-color: #3c8dbc;
	color: #fff
}

.modal-body {
	padding: 7px;
}

.user-panel>.info {
    padding: 0px;
    line-height: inherit;
    position: static;
    white-space: normal;
}

.user-panel>.info p {
	margin-bottom: 0px;
	text-transform: uppercase;
}

.user-panel>.info a {
	color: #b8c7ce !important;
}

.menu a span{
	position:relative;
}
.nhac-viec{
	position:absolute;
	top:-10px;
	right:-5px;
	background-color:red;
	color:white;
	min-width:15px;
	height:15px;
	display:none;
	text-align:center;
	border-radius:5px;
	line-height:13px;
	font-size:11px;    

}
.nhac-viec.show{
	display:inline-block!important;
}

