<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<a data-toggle="modal" data-target="#modIntro" href="#" title="Hướng dẫn sử dụng"><i class="fa fa-question-circle"></i></a>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-6">
 			<div class="box box-primary" id="box-ds">
 				<div class="box-header with-border">
 					<h3 class="box-title">Cập nhật đồng hồ</h3>
 				</div>
 				<div class="box-body">
 					<form method="POST" id="frm-1" enctype="multipart/form-data">
	 					<div class="form-group">
	 						<div class="input-group">
	 							<input type="file" name="fileData" id="fileData" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="form-control"/>
	 							<span class="input-group-btn">
	 								<button class="btn btn-default btn-flat" type="button" id="btn-ok"><i class="fa fa-check-circle"></i></button>
	 								<button type="button" class="btn btn-default btn-flat" id="btn-file" title="Tải về file mẫu"><i class="fa fa-download"></i></button>
	 							</span>
	 						</div>
	 					</div>
 					</form>
 					<div class="jdgrid" id="grid-ds"></div>
 				</div>
 				<div class="box-footer">
 					<div class="jdpage" id="page-ds"></div>
 				</div>
 			</div>
 		</div>
 		<div class="col-md-6">
 			
 		</div>
 	</div>
 </section>
 <!-- /.content -->