<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <th:block th:text="${MODEL.title}"></th:block>
        <a data-toggle="modal" data-target="#modIntro" href="#" title="Hướng dẫn sử dụng"><i
                class="fa fa-question-circle"></i></a>
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href=".">
                <i class="fa fa-home"></i>
                Trang chủ
            </a>
        </li>
        <li class="active" th:text="${MODEL.title}">Actived page</li>
    </ol>
</section>

<div class="jdgrid" id="popover-content" style="display: none;"></div>
<style type="text/css">
    .popover {
        max-width: 500px;
    }

    .popover-content {
        width: 400px;
    }
</style>

<!-- Main content -->
<div class="content" ng-controller="DuyetPhieuSuaSeriController">
    <div class="row">
        <div class="col-lg-8">
            <div class="box box-primary" id="box-ds">
                <div class="box-header with-border">
                   
                    <div class="box-tools pull-right form-inline">
                        <form ng-submit="layDs();">

                            <div class="input-group">
                                <input type="date" ng-model="searchForm.tuNgay"
                                    class="form-control chon-ngay input-mask" data-inputmask="'alias': 'dd/mm/yyyy'" />
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                            <div class="input-group">
                                <input type="date" ng-model="searchForm.denNgay"
                                    class="form-control chon-ngay input-mask" data-inputmask="'alias': 'dd/mm/yyyy'" />
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                            <!-- <div class="form-group">
                                <input ng-model="searchForm.searchString" type="text" class="form-control input-sm"
                                    placeholder="Mã KH/Tên KH..." />
                            </div> -->
                            <button type="submit" class="btn btn-sm btn-primary btn-flat btn-filter-msg" title="Lọc"><i
                                    class="fa fa-filter"></i></button>
                            <select ng-change="layDs()" class="form-control input-sm" ng-model="searchForm.pageSize"
                                ng-options="pageSize for pageSize in [5,10,20,50]"></select>
                        </form>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-inline" style="margin-top:20px;">
                        <form>
                            <label style="margin-right: 10px;"><input ng-change="layDs()" type="radio" name="trangThai"
                                    ng-model="searchForm.trangThai" value="2" />Phiếu chờ duyệt</label>
                            <label style="margin-right: 10px;"> <input ng-change="layDs()" type="radio" name="trangThai"
                                    ng-model="searchForm.trangThai" value="3" /> Phiếu bị từ chối duyệt</label>
                            <label style="margin-right: 10px;"><input ng-change="layDs()" type="radio" name="trangThai"
                                    ng-model="searchForm.trangThai" value="4" /> Phiếu đã duyệt</label>
                        </form>
                    </div>
                    <table class="table table-bordered table-condensed table-hover" ng-init="layDs()">
                        <thead>
                            <tr>
                                <th style="text-align:center;">Mã phiếu</th>
                                <th>Ngày lập</th>
                                <th style="text-align:center;">Mã khách hàng</th>
                                <th style="text-align:center;">Tên khách hàng</th>
                                <th>Số seri cũ</th>
                                <th>Số seri mới</th>
                                <th style="text-align:center;">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="phieuSuaSeri in phieuSuaSerisPageable.content">
                                <td style="text-align:center;">{{phieuSuaSeri.idPhieuSuaSeri}}</td>
                                <td>{{phieuSuaSeri.ngayLap|date:'dd/MM/yyyy'}}</td>
                                <td style="text-align:center;">{{phieuSuaSeri.maKhachHang}}</td>
                                <td style="text-align:center;">{{phieuSuaSeri.tenKhachHang}}</td>
                                <td>{{phieuSuaSeri.soSeriCu}}</td>
                                <td>{{phieuSuaSeri.soSeriMoi}}</td>
                                <td style="text-align:center;">
                                    <a title="Điều chỉnh thông tin" href="#" data-toggle="modal" data-target="#Detail"
                                        ng-click="setPhieuSuaSeri(phieuSuaSeri)" class="row-info-1"><i
                                            class="fa fa-edit"></i></a>
                                    <a ng-if="phieuSuaSeri.trangThai==2" style="margin-left:10px;" title="Duyệt" class="text-green" href="#"
                                        ng-click="duyet(phieuSuaSeri);"><i class="fa fa-check"></i></a>
                                    <a ng-if="phieuSuaSeri.trangThai==2" style="margin-left:10px;" title="Từ chối duyệt" class="text-red" href="#"
                                        ng-click="setPhieuSuaSeri(phieuSuaSeri);" data-toggle="modal" data-target="#TuChoiDuyet"><i class="fa fa-close"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <div class="jdpage" id="page-ds"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box box-success" id="box-form">
                <div class="box-header with-border">
                    <h3 class="box-title">Chi tiết phiếu sửa seri</h3>
                </div>
                <div class="box-body">
                    <form ng-submit="luu()" id="frm-1" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Mã phiếu</label>
                                <input type="text" disabled="disabled" ng-model="phieuSuaSeri.idPhieuSuaSeri"
                                    class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Họ tên khách hàng</label>
                                <input ng-model="phieuSuaSeri.tenKhachHang" type="text" disabled="disabled"
                                    class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <label>Mã khách hàng</label>
                                <input ng-model="phieuSuaSeri.maKhachHang" type="text" disabled="disabled"
                                class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>ID đồng hồ</label>
                                <input type="text" disabled="disabled" ng-model="phieuSuaSeri.idDongHo"
                                    class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <label>Seri đồng hồ</label>
                                <input type="text" disabled="disabled" ng-model="phieuSuaSeri.soSeriCu"
                                    class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Seri đồng hồ mới</label>
                                <input type="text"  disabled="disabled"  ng-model="phieuSuaSeri.soSeriMoi" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Lý do đổi</label>
                                <input  type="text"  disabled="disabled"  ng-model="phieuSuaSeri.lyDo" class="form-control" />
                            </div>
                        </div>
                        <div ng-if="phieuSuaSeri.trangThai==3" class="form-group">
                            <div class="col-sm-12">
                                <label>Lý do từ chối</label>
                                <textarea disabled="disabled"  ng-model="phieuSuaSeri.lyDoTuChoi" class="form-control" ></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-footer" style="text-align: right;">
                    <button ng-click="setPhieuSuaSeri()" class="btn btn-secondary">Hủy</button>
                </div>
            </div>
        </div>
    </div>
    <div id="TuChoiDuyet" class="modal fade in" role="dialog" style="height:100vh; overflow:auto;">
        <div class="modal-dialog modal-lg" style="background: white;">
            <div class="modal-header">
                <span class="modal-title">Từ chối duyệt</span>
                <button type="button" class="close" ng-click="hideModal('#TuChoiDuyet')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="container-fluid modal-content box">
                <div class="row">
                    <div class="col-md-12">
                    <label>
                        Lý do từ chối
                    </label>
                    <textarea aria-multiline="true" ng-model="phieuSuaSeri.lyDoTuChoi" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <button type="button" class="btn btn-danger" ng-click="tuChoiDuyet(phieuSuaSeri);hideModal('#TuChoiDuyet')">Từ chối duyệt</button>
                        <button type="button" class="btn btn-default" ng-click="hideModal('#TuChoiDuyet')">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.content -->