<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		Truy cập không hợp lệ
		<small>Bạn không có quyền truy cập trang này!</small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-dashboard"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Under construction</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-12">
 			<div class="box box-danger">
 				<div class="box-body">
 					<img src="img/403-error.png" alt="Under construction" width="100%" class="img-responsive" />
				</div>
 			</div>
 		</div>
 	</div>
 </section>
 <!-- /.content -->