<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <th:block th:text="${MODEL.title}"></th:block>
        <a data-toggle="modal" data-target="#modIntro" href="#" title="Hướng dẫn sử dụng"><i
                class="fa fa-question-circle"></i></a>
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href=".">
                <i class="fa fa-home"></i>
                Trang chủ
            </a>
        </li>
        <li class="active" th:text="${MODEL.title}">Actived page</li>
    </ol>
</section>

<div class="jdgrid" id="popover-content" style="display: none;"></div>
<style type="text/css">
    .popover {
        max-width: 500px;
    }

    .popover-content {
        width: 400px;
    }
</style>

<!-- Main content -->
<div class="content" ng-controller="HoaDonLapDatController">
    <div class="row">
        <div class="col-lg-8">
            <div class="box box-primary" id="box-ds">
                <div class="box-header with-border">
                    <h3 class="box-title">Hóa đơn lắp đặt</h3>
                    <div class="box-tools pull-right form-inline">
                        <form ng-submit="layDs();">
                            <div class="form-group">
                                <select style="width: 140px;" class="form-control input-sm" ng-change="layDs()"
                                    ng-init="layDsTrangThaiHoaDon()" ng-model="searchForm.idTrangThaiHoaDon"
                                    ng-options="tt.idTrangThaiHoaDon as tt.tenTrangThaiHoaDon for tt in trangThaiHoaDons"></select>
                            </div>
                            <div class="form-group">
                                <select style="width: 110px;" class="form-control input-sm" ng-init="layDsPhuong()"
                                    ng-change="layDsTo(layDs)" ng-model="searchForm.idDuong"
                                    ng-options="duong.idDuong as duong.tenDuong for duong in phuongs"></select>
                            </div>
                            <div class="form-group">
                                <select style="width: 110px;" ng-change="layDs()" class="form-control input-sm"
                                    ng-model="searchForm.idSoGhi"
                                    ng-options="soGhi.idSoGhi as soGhi.tenSoGhi for soGhi in tos"></select>
                            </div>
                            <div class="form-group">
                                <input ng-model="searchForm.searchString" type="text" class="form-control input-sm"
                                    placeholder="Mã KH/Tên KH..." />
                            </div>
                            <button type="submit" class="btn btn-sm btn-primary btn-flat btn-filter-msg" title="Lọc"><i
                                    class="fa fa-filter"></i></button>
                            <select ng-change="layDs()" class="form-control input-sm" ng-model="searchForm.pageSize"
                                ng-options="pageSize for pageSize in [5,10,20,50]"></select>
                        </form>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-condensed table-hover" ng-init="layDs()">
                        <thead>
                            <tr>
                                <th style="text-align:center;">Mã hóa đơn</th>
                                <th>Tên khách hàng</th>
                                <th>Mã khách hàng</th>
                                <th>Địa chỉ</th>
                                <th>Trạng thái</th>
                                <th>Giá dịch vụ</th>
                                <th>Thuế</th>
                                <th>Tổng cộng</th>
                                <th style="text-align:center;">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="hoaDon in hoaDonsPageable.content">
                                <td style="text-align:center;">{{hoaDon.idHoaDon}}</td>
                                <td>{{hoaDon.tenKhachHang}}</td>
                                <td>{{hoaDon.maKhachHang}}</td>
                                <td>{{hoaDon.diaChiSuDung}}</td>
                                <td>{{hoaDon.tenTrangThaiHoaDon}}</td>
                                <td style="text-align: right;">{{currencyFormat(hoaDon.tienDichVu)}}</td>
                                <td style="text-align: right;">{{currencyFormat(hoaDon.tienThue)}}</td>
                                <td style="text-align: right;">{{currencyFormat(hoaDon.tongTien)}}</td>
                                <td style="text-align:center;">
                                    <a title="Điều chỉnh thông tin" href="#" data-toggle="modal" data-target="#Detail"
                                        ng-click="setHoaDon(hoaDon)" class="row-edit-1"><i class="fa fa-edit"></i></a>
                                    <a style="margin-left:10px;" title="Phát hành HDDT" class="row-del-1 text-green"
                                        href="#" ng-click="phatHanhHoaDonDienTu(hoaDon);"><i
                                            class="fa fa-share-square-o"></i></a>
                                    <a style="margin-left:10px;" title="Danh sách HDDT" class="row-del-1 text-yellow"
                                        href="#" data-toggle="modal" data-target="#HDDT"
                                        ng-click="setHoaDon(hoaDon);layDsHddt(hoaDon);"><i class="fa fa-folder"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <div class="jdpage" id="page-ds"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box box-success" id="box-form">
                <div class="box-header with-border">
                    <h3 class="box-title">Chi tiết hóa đơn</h3>
                </div>
                <div class="box-body">
                    <form ng-submit="luu()" id="frm-1" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Mã hóa đơn</label>
                                <input type="text" disabled="disabled" ng-model="hoaDon.idHoaDon"
                                    class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <label>Tên khách hàng</label>
                                <input type="text" disabled="disabled" ng-model="hoaDon.tenKhachHang"
                                    class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Địa chỉ</label>
                                <input type="text" disabled="disabled" ng-model="hoaDon.diaChiSuDung"
                                    class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Tiền dịch vụ</label>
                                <input style="text-align: right;" ng-change="tienDichVuChange(hoaDon)" type="number"
                                    ng-model="hoaDon.tienDichVu" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Nội dung hóa đơn</label>
                                <input style="text-align: right;"
                                    ng-model="hoaDon.tenHangHoa" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Thuế suất</label>
                                <div class="input-group">
                                    <input style="text-align: right;" type="number" disabled="disabled"
                                        ng-model="thueSuat" class="form-control" />
                                    <div class="input-group-addon">%</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>Tiền thuế</label>
                                <input style="text-align: right;" type="number" disabled="disabled"
                                    ng-model="hoaDon.tienThue" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Tổng cộng</label>
                                <input style="text-align: right;" type="number" disabled="disabled"
                                    ng-model="hoaDon.tongTien" class="form-control" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-footer" style="text-align: right;">
                    <button ng-click="setHoaDon()" class="btn btn-secondary">Hủy</button>
                    <button type="submit" class="btn btn-success" form="frm-1">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    <div id="HDDT" class="modal fade in" role="dialog">
        <div class="modal-dialog modal-lg" style="background: white;">
            <div class="modal-header">
                <span class="modal-title">Hóa đơn điện tử</span>
                <button type="button" class="close" ng-click="hideModal('#HDDT')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="container-fluid modal-content box">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ký hiệu</th>
                            <th>Số hóa đơn</th>
                            <th>Nhân viên cập nhật</th>
                            <th>Ngày/giờ cập nhật</th>
                            <!-- <th>Đã phát hành</th> -->
                            <th style="text-align: center;">Đã hủy</th>
                            <!-- <th>Đã thanh toán</th> -->
                            <th style="text-align: center;">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="[{'canceled':hoaDonDienTu.huy}]" ng-repeat="hoaDonDienTu in hoaDon.hddts">
                            <td>
                                {{hoaDonDienTu.kyHieu}}
                            </td>
                            <td>
                                {{hoaDonDienTu.soHoaDon}}
                            </td>
                            <td>
                                {{hoaDonDienTu.tenNguoiDung}}
                            </td>
                            <td>
                                {{hoaDonDienTu.ngayGioCapNhat|date:'dd/MM/yyyy - HH:mm:ss'}}
                            </td>
                            <!-- <td class="text-center">
                                <input disabled="disabled" type="checkbox" ng-model="hoaDonDienTu.phatHanhThanhCong" />
                            </td> -->
                            <td class="text-center">
                                <input disabled="disabled" type="checkbox" ng-model="hoaDonDienTu.huy" />
                            </td>
                            <!-- <td class="text-center">
                                <input disabled="disabled" type="checkbox" ng-model="hoaDonDienTu.thanhToan" />
                            </td> -->
                            <td class="text-center">
                                <a target="_blank"
                                    href="/hoa-don-lap-dat/in-hoa-don?idHoaDonDienTu={{hoaDonDienTu.idHoaDonDienTu}}"
                                    class="text-blue"><i class="fa fa-search"></i></a>
                                <a style="margin-left:10px;" ng-click="ngungPhatHanh(hoaDonDienTu)" href="#"
                                    class="text-red"><i class="fa fa-close"></i></a>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal-footer">
                    <div class="row">
                        <button type="button" class="btn btn-default" ng-click="hideModal('#HDDT')">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.content -->