<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<a data-toggle="modal" data-target="#modIntro" href="#" title="Hướng dẫn sử dụng"><i class="fa fa-question-circle"></i></a>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-8">
 			<div class="box box-primary" id="box-ds">
 				<div class="box-header with-border">
 					<h3 class="box-title">Kế hoạch</h3>
 				</div>
 				<div class="box-body">
 					<div class="row">
 						<div class="col-md-3">
 							<div class="form-group">
 								<select class="form-control" id="cmb-donvi-filter"></select>
 							</div>
 						</div>
 						<div class="col-md-3">
 							<div class="form-group">
 								<select class="form-control" id="cmb-khuvuc-filter"></select>
 							</div>
 						</div>
 						<div class="col-md-3">
 							<div class="form-group">
 								<select class="form-control" id="cmb-nam-filter"></select>
 							</div>
 						</div>
 						<div class="col-md-3">
 							<div class="form-group">
 								<div class="input-group">
 									<select class="form-control" id="cmb-thang-filter"></select>
 									<span class="input-group-btn">
 										<button type="button" class="btn btn-default btn-flat" id="btn-search" title="Xem"><i class="fa fa-search"></i></button>
 										<button type="button" class="btn btn-default btn-flat" id="btn-them" title="Thêm tháng mới"><i class="fa fa-plus-circle"></i></button>
 									</span>
 								</div>
 							</div>
 						</div>
 					</div>
 					<div class="jdgrid" id="grid-ds"></div>
 				</div>
 			</div>
 		</div>
 		<div class="col-md-4">
 			<div class="box box-success" id="box-frm">
 				<div class="box-header with-border">
 					<h3 class="box-title">Thông tin kế hoạch</h3>
 				</div>
 				<div class="box-body">
 					<form id="frm-1">
	 					<div class="form-group">
	 						<label>Tháng</label>
	 						<input type="text" name="tenThang" id="txt-tenThang" class="form-control" disabled="disabled"/>
	 					</div>
	 					<div class="form-group">
	 						<label>Phường</label>
	 						<input type="text" name="tenDuong" id="txt-tenDuong" class="form-control" disabled="disabled"/>
	 					</div>
	 					<div class="form-group">
	 						<label>Chỉ số cũ</label>
	 						<input type="text" name="chiSoCu" id="txt-chiSoCu" class="form-control number"/>
	 					</div>
	 					<div class="form-group">
	 						<label>Chỉ số mới</label>
	 						<input type="text" name="chiSoMoi" id="txt-chiSoMoi" class="form-control number"/>
	 					</div>
	 					<div class="form-group">
	 						<label>Sản xuất</label>
	 						<input type="text" name="sanXuat" id="txt-sanXuat" class="form-control number"/>
	 					</div>
	 					<div class="form-group">
	 						<label>Kế hoạch tiêu thụ</label>
	 						<input type="text" name="tieuThu" id="txt-tieuThu" class="form-control number"/>
	 					</div>
	 					<div class="form-group">
	 						<label>Kế hoạch doanh thu</label>
	 						<input type="text" name="doanhThu" id="txt-doanhThu" class="form-control number"/>
	 					</div>
	 					<input type="hidden" name="idKeHoach" id="txt-idKeHoach"/>
	 					<input type="hidden" name="idDuong" id="txt-idDuong"/>
	 					<input type="hidden" name="idThang" id="txt-idThang"/>
 					</form>
 				</div>
 				<div class="box-footer text-center">
 					<button class="btn btn-success btn-flat" type="button" id="btn-ok"><i class="fa fa-check-circle"></i> Lưu</button>&nbsp;&nbsp;
					<button class="btn btn-default btn-flat" type="button" id="btn-cancel"><i class="fa fa-times-circle"></i> Hủy</button>
 				</div>
 			</div>
 		</div>
 	</div>
 </section>
 <!-- /.content -->