<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<a data-toggle="modal" data-target="#modIntro" href="#" title="Hướng dẫn sử dụng"><i class="fa fa-question-circle"></i></a>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-8">
 			<div class="box box-primary" id="box-ds">
 				<div class="box-header with-border">
 					<h3 class="box-title">Khu vực</h3>
 				</div>
 				<div class="box-body">
 					<div class="row">
 						<div class="col-md-6 col-md-offset-6">
 							<div class="form-group">
 								<select class="form-control" id="cmb-donvi-filter"></select>
 							</div>
 						</div>
 					</div>
 					<div class="jdgrid" id="grid-ds"></div>
 				</div>
 				<div class="box-footer">
 					<div class="jdpage" id="page-ds"></div>
 				</div>
 			</div>
 		</div>
 		<div class="col-md-4">
 			<div class="box box-success" id="box-frm">
 				<div class="box-header with-border">
 					<h3 class="box-title">Thông tin khu vực</h3>
 				</div>
 				<div class="box-body">
 					<form id="frm-1">
	 					<div class="form-group">
	 						<label>Tên khu vực</label>
	 						<input type="text" name="tenKhuVuc" id="txt-tenKhuVuc" class="form-control"/>
	 					</div>
	 					<div class="form-group">
	 						<label>Số điện thoại</label>
	 						<input type="text" name="soDienThoai" id="txt-soDienThoai" class="form-control"/>
	 					</div>
	 					<div class="form-group">
	 						<label>Tên thu ngân</label>
	 						<input type="text" name="tenThuNgan" id="txt-tenThuNgan" class="form-control"/>
	 					</div>
	 					<div class="form-group">
	 						<label>Hạn thanh toán</label>
	 						<div class="input-group">
 								<input type="text" name="hanThanhToan" id="txt-hanThanhToan" class="form-control chon-ngay input-mask" data-inputmask="'alias': 'dd/mm/yyyy'"/>
 								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
 							</div>
	 					</div>
	 					<div class="form-group">
	 						<label>Ngày bắt đầu</label>
	 						<input type="text" name="ngayBatDau" id="txt-ngayBatDau" class="form-control number" maxlength="2"/>
	 					</div>
	 					<div class="form-group">
	 						<label>Ngày kết thúc</label>
	 						<input type="text" name="ngayKetThuc" id="txt-ngayKetThuc" class="form-control number" maxlength="2"/>
	 					</div>
	 					<div class="form-group">
	 						<label>Ngày in</label>
	 						<input type="text" name="ngayIn" id="txt-ngayIn" class="form-control number" maxlength="2"/>
	 					</div>
	 					<div class="form-group">
	 						<div class="checkbox">
		 						<label>
		 							<input type="checkbox" id="chk-suDungHddt" checked="checked" name="suDungHddt" value="1"/> Sử dụng HĐĐT
		 						</label>
		 					</div>
	 					</div>
	 					<div class="form-group">
	 						<label>Đơn vị</label>
	 						<select name="idDonVi" id="cmb-donvi" class="form-control"></select>
	 					</div>
	 					<input type="hidden" name="idKhuVuc" id="txt-idKhuVuc"/>
 					</form>
 				</div>
 				<div class="box-footer text-center">
 					<button class="btn btn-success btn-flat" type="button" id="btn-ok"><i class="fa fa-check-circle"></i> Lưu</button>&nbsp;&nbsp;
					<button class="btn btn-default btn-flat" type="button" id="btn-cancel"><i class="fa fa-times-circle"></i> Hủy</button>
 				</div>
 			</div>
 		</div>
 	</div>
 </section>
 <!-- /.content -->