<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title th:text="${MODEL.title}+' | Quản lý khách hàng ngành cấp nước'"></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
  <link rel="icon" href="img/fav.png" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"/>
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css"/>
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
  <link rel="stylesheet" href="dist/css/skins/skin-blue.min.css"/>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>
  <link rel="stylesheet" href="css/style.css"/>
  <!-- Controller css -->
  <th:block th:each="href:${MODEL.css}">
  <link rel="stylesheet" th:href="${href}"/>
  </th:block>
</head>

<body class="hold-transition skin-blue sidebar-mini" ng-app="app">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="." class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini" title="QL KHÁCH HÀNG"><i class="fa fa-users"></i></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">QL <b>KHÁCH HÀNG</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="." class="dropdown-toggle" title="Tháng làm việc">
              <i class="fa fa-calendar-check-o"></i>
              <span id="span-thang" class="hidden-xs" th:text="${session.thang?.tenThang}"></span>
            </a>
          </li>
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="." class="dropdown-toggle" title="Khu vực làm việc">
              <i class="fa fa-sitemap"></i>
              <span id="span-khuvuc" class="hidden-xs" th:text="${session.khuVuc?.tenKhuVuc}"></span>
            </a>
          </li>
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="dist/img/ic_usr_160x160.jpg" class="user-image" alt="User Image"/>
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs" th:text="${#authentication.getPrincipal().getFullname()}"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="dist/img/ic_usr_160x160.jpg" class="img-circle" alt="User Image"/>
                <p>
                  <span th:text="${#authentication.getPrincipal().getFullname()}"></span>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="thong-tin-nguoi-dung" class="btn btn-default btn-flat">Thông tin</a>
                </div>
                <div class="pull-right">
                  <a href="logout" class="btn btn-default btn-flat">Đăng xuất</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <!-- <div class="pull-left image">
          <img src="dist/img/icon_shopify.png" class="img-circle" alt="User Image"/>
        </div> -->
        <div class="pull-left info">
          <p><a><span class="hidden-xs" id="spanTenCongTy"></span></a></p>
          <!-- Status -->
          <a><i class="fa fa-phone-square"></i><span id="spanSoDienThoai"></span></a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">CHỨC NĂNG</li>
        <!-- Optionally, you can add icons to the links -->
        
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div th:replace="${MODEL.content}"></div>
  </div>
  <!-- /.content-wrapper -->
	<div class="modal" tabindex="-1" role="dialog" id="modIntro">
		<div class="modal-dialog modal-lg" role="document" style="height: 90%;">
			<div class="modal-content" style="height: 100%;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title">Hướng dẫn sử dụng</h4>
				</div>
				<div class="modal-body" style="height: 90%;">
					<embed style="width: 100%; height: 100%;" th:src="${MODEL.help}" type="application/pdf" text="Test" />
				</div>
			</div>
		</div>
	</div>

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Phiên bản <strong>2.0.0</strong> <sup></sup>
    </div>
    <!-- Default to the left -->
    VNPT-Water &copy; 2018 Tập đoàn Bưu chính Viễn thông Việt Nam
  </footer>

  
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>

<script src="/dist/js/angular.min.js"></script>
<script src="/dist/js/angularjsConfig.js"></script>
<script src="/plugins/notify.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
<script src="js/script.js"></script>
<!-- Controller js -->
<th:block th:each="src:${MODEL.js}">
<script th:src="${src}" type="text/javascript"></script>
</th:block>
</body>
</html>