<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<a data-toggle="modal" data-target="#modIntro" href="#" title="Hướng dẫn sử dụng"><i class="fa fa-question-circle"></i></a>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-12">
 			<div class="box box-primary" id="box-ds">
 				<div class="box-header with-border">
 					<h3 class="box-title">Báo cáo nhân viên thu tiền</h3>
 				</div>
 				<div class="box-body">
 					<div class="col-sm-2"></div>
	 				<div class="col-sm-8">
	 					<form id="frm-1">
	 						<div class="row">
		 						<div class="form-group">
			 						<div class="col-sm-3"></div>
			 						<div class="col-sm-6">
			 							<label>Nhân viên</label>
			 							<select name="idNguoiDung" id="cmb-nguoidung" class="form-control">
			 								<option value="0">Tất cả nhân viên</option>
			 							</select>
			 						</div>
			 						<div class="col-sm-3"></div>
			 					</div>
			 				</div>
			 				<div class="row">
		 						<div class="form-group">
			 						<div class="col-sm-3"></div>
			 						<div class="col-sm-6">
			 							<label>Tháng sử dụng</label>
			 							<select name="idThang" id="cmb-thang" class="form-control">
			 								<option value="0">Tất cả tháng</option>
			 							</select>
			 						</div>
			 						<div class="col-sm-3"></div>
			 					</div>
			 				</div>
			 				<div class="row">
		 						<div class="form-group">
		 							<div class="col-sm-3"></div>
		 							<div class="col-sm-6">
			 							<label>Từ ngày</label>
			 							<div class="input-group">
			 								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				 							<input type="text" id="txt-tungay" class="form-control chon-ngay input-mask" data-inputmask="'alias': 'dd/mm/yyyy'"/>
				 						</div>
				 					</div>
				 					<div class="col-sm-3"></div>
		 						</div>
		 					</div>
		 					<div class="row">
		 						<div class="form-group">
		 							<div class="col-sm-3"></div>
		 							<div class="col-sm-6" style="margin-bottom: 10px;">
			 							<label>Đến ngày</label>
			 							<div class="input-group">
			 								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				 							<input type="text" id="txt-denngay" class="form-control chon-ngay input-mask" data-inputmask="'alias': 'dd/mm/yyyy'"/>
				 						</div>
			 						</div>
			 						<div class="col-sm-3"></div>
		 						</div>
		 					</div>
		 					<div class="row">
			 					<div class="form-group" align="center">
			 						<div class="input-group">
			 							<button class="btn btn-success btn-flat" type="button" id="view">Xem báo cáo</button>&nbsp;&nbsp;
			 							<button class="btn btn-success btn-flat" type="button" id="pdf">Xuất file PDF</button>&nbsp;&nbsp;
			 							<button class="btn btn-success btn-flat" type="button" id="xls">Xuất file XLS</button>&nbsp;&nbsp;
			 							<button class="btn btn-success btn-flat" type="button" id="xlsx">Xuất file XLSX</button>&nbsp;&nbsp;
			 							<button class="btn btn-success btn-flat" type="button" id="rtf">Xuất file RTF</button>
		 							</div>
			 					</div>
			 				</div>
	 					</form>
 					</div>
 					<div class="col-sm-2"></div>
 					<div id="pdfRenderer" style="width: 100%; height: 866px;"></div>
 				</div>
 			</div>
 		</div>
 	</div>
 </section>
 <!-- /.content -->