<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<a data-toggle="modal" data-target="#modIntro" href="#" title="Hướng dẫn sử dụng"><i class="fa fa-question-circle"></i></a>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-6">
 			<div class="box box-primary" id="box-frm">
 				<div class="box-header with-border">
 					<h3 class="box-title">Phát hành hóa đơn lắp đặt</h3>
 				</div>
 				<div class="box-body">
 					<div class="row">
 						<div class="col-md-12">
 							<div class="form-group">
 								<label>Tổng số hóa đơn</label>
 								<input type="text" name="tongSo" id="txt-tongso" class="form-control text-right" readonly="readonly" />
 							</div>
 							<div class="form-group">
 								<label>Tổng số khách hàng đã phát hành hóa đơn</label>
 								<input type="text" name="daPhatHanh" id="txt-daphathanh" class="form-control text-right" readonly="readonly" />
 							</div>
 							<div class="form-group">
 								<label>Tổng số khách hàng không phát hành hóa đơn</label>
 								<input type="text" name="khongPhatHanh" id="txt-khongphathanh" class="form-control text-right" readonly="readonly" />
 							</div>
 							<div class="form-group">
 								<label>Tổng số khách hàng chưa phát hành hóa đơn</label>
 								<input type="text" name="chuaPhatHanh" id="txt-chuaphathanh" class="form-control text-right" readonly="readonly" />
 							</div>
 						</div>
 					</div>
 				</div>
 				<div class="box-footer text-center">
 					<button class="btn btn-success btn-flat" type="button" id="btn-ok-1"><i class="fa fa-check-circle"></i> Phát hành hóa đơn</button>&nbsp;&nbsp;
 					<!-- <button class="btn btn-default btn-flat" type="button" id="btn-ok-2"><i class="fa fa-ban"></i> Ngưng phát hành hóa đơn</button> -->
 				</div>
 			</div>
 		</div>
 		<div class="col-md-6">
			
 		</div>
 	</div>
 </section>
 <!-- /.content -->