<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <th:block th:text="${MODEL.title}"></th:block>
        <a data-toggle="modal" data-target="#modIntro" href="#" title="Hướng dẫn sử dụng"><i
                class="fa fa-question-circle"></i></a>
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href=".">
                <i class="fa fa-home"></i>
                Trang chủ
            </a>
        </li>
        <li class="active" th:text="${MODEL.title}">Actived page</li>
    </ol>
</section>

<div class="jdgrid" id="popover-content" style="display: none;"></div>
<style type="text/css">
    .popover {
        max-width: 500px;
    }

    .popover-content {
        width: 400px;
    }
</style>

<!-- Main content -->
<div class="content" ng-controller="PhieuSuaSeriController">
    <div class="row">
        <div class="col-lg-8">
            <div class="box box-primary" id="box-ds">
                <div class="box-header with-border">
                   
                    <div class="box-tools pull-right form-inline">
                        <form ng-submit="layDs();">

                            <div class="input-group">
                                <input type="date" ng-model="searchForm.tuNgay"
                                    class="form-control chon-ngay input-mask" data-inputmask="'alias': 'dd/mm/yyyy'" />
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                            <div class="input-group">
                                <input type="date" ng-model="searchForm.denNgay"
                                    class="form-control chon-ngay input-mask" data-inputmask="'alias': 'dd/mm/yyyy'" />
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                            <!-- <div class="form-group">
                                <input ng-model="searchForm.searchString" type="text" class="form-control input-sm"
                                    placeholder="Mã KH/Tên KH..." />
                            </div> -->
                            <button type="submit" class="btn btn-sm btn-primary btn-flat btn-filter-msg" title="Lọc"><i
                                    class="fa fa-filter"></i></button>
                            <select ng-change="layDs()" class="form-control input-sm" ng-model="searchForm.pageSize"
                                ng-options="pageSize for pageSize in [5,10,20,50]"></select>
                        </form>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-inline" style="margin-top:20px;">
                        <form>
                            <label style="margin-right: 10px;"> <input ng-change="layDs()" type="radio" name="trangThai"
                                    ng-model="searchForm.trangThai" value="1" /> Phiếu vừa khởi tạo</label>
                            <label style="margin-right: 10px;"><input ng-change="layDs()" type="radio" name="trangThai"
                                    ng-model="searchForm.trangThai" value="2" />Phiếu đã gửi duyệt</label>
                            <label style="margin-right: 10px;"> <input ng-change="layDs()" type="radio" name="trangThai"
                                    ng-model="searchForm.trangThai" value="3" /> Phiếu bị từ chối duyệt</label>
                            <label style="margin-right: 10px;"><input ng-change="layDs()" type="radio" name="trangThai"
                                    ng-model="searchForm.trangThai" value="4" /> Phiếu đã duyệt</label>
                        </form>
                    </div>
                    <table class="table table-bordered table-condensed table-hover" ng-init="layDs()">
                        <thead>
                            <tr>
                                <th style="text-align:center;">Mã phiếu</th>
                                <th>Ngày lập</th>
                                <th style="text-align:center;">Mã khách hàng</th>
                                <th style="text-align:center;">Tên khách hàng</th>
                                <th>Số seri cũ</th>
                                <th>Số seri mới</th>
                                <th style="text-align:center;">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="phieuSuaSeri in phieuSuaSerisPageable.content">
                                <td style="text-align:center;">{{phieuSuaSeri.idPhieuSuaSeri}}</td>
                                <td>{{phieuSuaSeri.ngayLap|date:'dd/MM/yyyy'}}</td>
                                <td style="text-align:center;">{{phieuSuaSeri.maKhachHang}}</td>
                                <td style="text-align:center;">{{phieuSuaSeri.tenKhachHang}}</td>
                                <td>{{phieuSuaSeri.soSeriCu}}</td>
                                <td>{{phieuSuaSeri.soSeriMoi}}</td>
                                <td style="text-align:center;">
                                    <a title="Điều chỉnh thông tin" href="#" data-toggle="modal" data-target="#Detail"
                                        ng-click="setPhieuSuaSeri(phieuSuaSeri)" class="row-edit-1"><i
                                            class="fa fa-edit"></i></a>
                                    <a ng-hide="phieuSuaSeri.trangThai==4||phieuSuaSeri.trangThai==2" style="margin-left:10px;" title="Gửi duyệt" class="text-green" href="#"
                                        ng-click="guiDuyet(phieuSuaSeri);"><i class="fa fa-share-square-o"></i></a>
                                    <a ng-hide="phieuSuaSeri.trangThai==4||phieuSuaSeri.trangThai==2" style="margin-left:10px;" title="Xóa" class="text-red" href="#"
                                        ng-click="xoa(phieuSuaSeri);"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <div class="jdpage" id="page-ds"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box box-primary" id="box-import">
                <div class="box-header with-border">
                    <h3 class="box-title">Import phiếu sửa seri</h3>
                </div>
                <div class="box-body">
                    <form method="POST" id="frm-1" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="file" name="fileData" id="fileData" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="form-control"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-flat" type="button" id="btn-ok"><i class="fa fa-check-circle"></i></button>
                                    <button type="button" class="btn btn-default btn-flat" id="btn-file" title="Tải về file mẫu"><i class="fa fa-download"></i></button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <div class="jdgrid" id="grid-ds"></div>
                </div>
                <div class="box-footer">
                    <div class="jdpage" id="page-ds"></div>
                </div>
            </div>
            <div class="box box-success" id="box-form">
                <div class="box-header with-border">
                    <h3 class="box-title">Chi tiết phiếu sửa seri</h3>
                </div>
                <div class="box-body">
                    <form ng-submit="luu()" id="phieuSuaSeri" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Mã phiếu</label>
                                <input type="text" disabled="disabled" ng-model="phieuSuaSeri.idPhieuSuaSeri"
                                    class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Họ tên khách hàng</label>
                                <input ng-model="phieuSuaSeri.tenKhachHang" type="text" disabled="disabled"
                                    class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <label>Mã khách hàng</label>
                                <div class="input-group">
                                    <input ng-model="phieuSuaSeri.maKhachHang" type="text" disabled="disabled"
                                        class="form-control" />
                                    <span ng-if="phieuSuaSeri.idPhieuSuaSeri==null" data-toggle="modal"
                                        data-target="#DSKH"
                                        style="color:white; cursor: pointer; background-color: #337ab7;"
                                        class="input-group-addon"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>ID đồng hồ</label>
                                <input type="text" disabled="disabled" ng-model="phieuSuaSeri.idDongHo"
                                    class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <label>Seri đồng hồ</label>
                                <input type="text" disabled="disabled" ng-model="phieuSuaSeri.soSeriCu"
                                    class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Seri đồng hồ mới<span style="color: red;">*</span></label>
                                <input required="required" type="text" ng-model="phieuSuaSeri.soSeriMoi" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Lý do đổi</label>
                                <input type="text" ng-model="phieuSuaSeri.lyDo" class="form-control" />
                            </div>
                        </div>
                        <div ng-if="phieuSuaSeri.trangThai==3" class="form-group">
                            <div class="col-sm-12">
                                <label>Lý do từ chối</label>
                                <textarea disabled="disabled"  ng-model="phieuSuaSeri.lyDoTuChoi" class="form-control" ></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-footer" style="text-align: right;">
                    <button type="button" ng-click="setPhieuSuaSeri()" class="btn btn-secondary">Hủy</button>
                    <button form="phieuSuaSeri" type="submit" ng-hide="phieuSuaSeri.trangThai==4||phieuSuaSeri.trangThai==2" class="btn btn-success">Lưu</button>
                </div>
            </div>
        </div>
    </div>

    <div id="DSKH" class="modal fade in" role="dialog" style="height:100vh; overflow:auto;">
        <div class="modal-dialog modal-lg" style="background: white;">
            <div class="modal-header">
                <span class="modal-title">Hóa đơn điện tử</span>
                <button type="button" class="close" ng-click="hideModal('#DSKH')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="container-fluid modal-content box">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary" style="border-top: 0;" id="box-ds-kh">
                            <div class="box-header">
                                <h3 class="box-title">Khách hàng</h3>
                                <div class="box-tools pull-right form-inline">
                                    <form ng-submit="layDsKhachHang();">
                                        <div class="form-group">
                                            <select style="width: 110px;" class="form-control input-sm"
                                                ng-init="layDsKhuVuc()" ng-change="layDsPhuong()"
                                                ng-model="searchForm.idKhuVuc"
                                                ng-options="khuVuc.idKhuVuc as khuVuc.tenKhuVuc for khuVuc in khuVucs"></select>
                                        </div>
                                        <div class="form-group">
                                            <select style="width: 110px;" class="form-control input-sm"
                                                ng-change="layDsTo()" ng-model="searchForm.idDuong"
                                                ng-options="duong.idDuong as duong.tenDuong for duong in phuongs"></select>
                                        </div>
                                        <div class="form-group">
                                            <select style="width: 110px;" class="form-control input-sm"
                                                ng-model="searchForm.idSoGhi"
                                                ng-options="soGhi.idSoGhi as soGhi.tenSoGhi for soGhi in tos"></select>
                                        </div>
                                        <div class="form-group">
                                            <input ng-model="searchForm.searchString" type="text"
                                                class="form-control input-sm" placeholder="Mã KH/Tên KH..." />
                                        </div>
                                        <button type="submit" class="btn btn-sm btn-primary btn-flat btn-filter-msg"
                                            title="Lọc"><i class="fa fa-filter"></i></button>
                                        <select ng-change="layDsKhachHang()" class="form-control input-sm"
                                            ng-model="searchForm.pageSize"
                                            ng-options="pageSize for pageSize in [5,10,20,50]"></select>
                                    </form>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        TT
                                                    </th>
                                                    <th>
                                                        Mã KH
                                                    </th>
                                                    <th>
                                                        Tên KH
                                                    </th>
                                                    <th>
                                                        Địa chỉ
                                                    </th>
                                                    <th>
                                                        Điện thoại
                                                    </th>
                                                    <th>
                                                        Đối tượng
                                                    </th>
                                                    <th>
                                                        T.Tác
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="khachHang in khachHangs">
                                                    <td>
                                                        {{khachHang.thuTu}}
                                                    </td>
                                                    <td>
                                                        {{khachHang.maKhachHang}}
                                                    </td>
                                                    <td>
                                                        {{khachHang.tenKhachHang}}
                                                    </td>
                                                    <td>
                                                        {{khachHang.diaChiThanhToan}}
                                                    </td>
                                                    <td>
                                                        {{khachHang.soDienThoai}}
                                                    </td>
                                                    <td>
                                                        {{khachHang.tenDoiTuong}}
                                                    </td>
                                                    <td>
                                                        <input
                                                            ng-change="chonThongTinKhachHang(khachHang.idThongTinKhachHang)"
                                                            type="radio" value="{{khachHang.idThongTinKhachHang}}"
                                                            name="idThongTinKhachHang"
                                                            ng-model="phieuSuaSeri.idThongTinKhachHang" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div style="float: left; width: 85%;" class="jdpage" id="kh-page-ds"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <button type="button" class="btn btn-default" ng-click="hideModal('#DSKH')">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.content  -->