<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<a data-toggle="modal" data-target="#modIntro" href="#" title="Hướng dẫn sử dụng"><i class="fa fa-question-circle"></i></a>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-12">
 			<div class="box box-primary" id="box-ds">
 				<div class="box-header with-border">
 					<h3 class="box-title">Thông tin khách hàng</h3>
 				</div>
 				<div class="box-body">
 					<div class="row">
 						<div class="col-md-6">
 							<div class="form-group">
 								<select class="form-control" id="cmb-tinnhan-filter">
 									<option value="0">Chưa gửi tin nhắn</option>
 									<option value="1">Gửi tin nhắn thành công</option>
 									<option value="2">Gửi tin nhắn thất bại</option>
 								</select>
 							</div>
 						</div>
 						<div class="col-md-6">
 							<div class="form-group">
 								<div class="input-group">
 									<input type="text" id="txt-keyword" class="form-control" placeholder="Thông tin tìm kiếm"/>
 									<span class="input-group-btn">
 										<button type="button" class="btn btn-default btn-flat" id="btn-search"><i class="fa fa-search"></i></button>
 										<button type="button" class="btn btn-default btn-flat" id="btn-send" title="Gửi tin nhắn"><i class="fa fa-send"></i></button>
 									</span>
 								</div>
 							</div>
 						</div>
 					</div>
 					<div class="jdgrid" id="grid-hoadon"></div>
 				</div>
 				<div class="box-footer">
 					<div class="jdpage" id="page-hoadon">
 						<div class="row">
 							<div class="col-md-12 text-right" id="sum-row">Tổng cộng <b>0</b> hóa đơn, <b>0</b> tin đã gửi.</div>
 						</div>
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>
 </section>
 <!-- /.content -->
 
<div class="modal" tabindex="-1" role="dialog" id="modInfo">
	<div class="modal-dialog modal-lg" role="document" style="height: 90%; width: 90%;">
		<div class="modal-content" style="height: 100%;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Danh sách tin nhắn</h4>
			</div>
			<div class="modal-body" style="height: 90%;">
				<div class="box box-solid" id="box-modal-info" style="margin-bottom: 0;">
					<div class="box-body">
	 					<div class="jdgrid" id="grid-ds-tn"></div>
	 				</div>
 				</div>
			</div>
		</div>
	</div>
</div>